---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>原理的には可能</h1>
			<p>
				データ分析界隈の人のブログ、もとい雑記帳。管理者は Yohei Kikuta
				で管理者に関する情報はこちら: <a
					href="https://github.com/yoheikikuta/resume"
					>https://github.com/yoheikikuta/resume
				</a>
			</p>
			<div style="text-align: center;">
				<img src="/icon.jpeg" alt="icon" width="300" />
			</div>
		</main>
		<Footer />
	</body>
</html>
